{% include "header.tpl" %}

<h1 style="text-align:center;">Error: an error occurred, it's seems like one of the field is empty, <a href="{{ url_for('share') }}">retry!</a></h1>

{% include "footer.tpl" %}

